<html xmlns="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/head.html :: head}"></div>
    <title th:object="${movie}" th:text="${'Movies Web'}">Detail</title>
</head>

<body>
    <div class="mx-5 mt-2">
        <div th:replace="~{fragments/changelang.html :: body}"></div>
    </div>
    <div class="card m-5">

        <div class="card-header">
            <h1 th:replace="~{fragments/title.html :: body}"></h1>
        </div>
        <form name="main_form" >
        </li>
            <div class="form-group m-3">
                <div class="mt-3">
                    <label for="title" th:text="#{Main.Title}"></label>
                    <input type="text" class="form-control" name="title">
                </div>
                
                <div class="mt-3">
                    <label for="year" th:text="#{Main.Year}"></label>
                    <div id="yearError"th:text="#{Main.NotValidYear}"class="p-2 alert-danger d-none"></div>
                    <input type="text" class="form-control" name="year">                    
                </div>
            </div>
            <div class="form-group m-3">
                <button id="submit" class="btn btn-primary" type="submit" th:text="#{Main.Search}"></button>
                <button id="reset" class="btn btn-secondary" type="button" th:text="#{Main.Reset}"></button>
            </div>
            </div> 
        </form>
        <div id="maincontainer">
    <div th:if="${#lists.size(movies)}" class= "m-5 border">    
        <li class="d-flex justify-content-md-center"th:each="movie : ${movies}"
        th:object="${movie}">            
            <div class="p-5"><img th:src="*{poster}" th:alt="|poster *{title}|"></div>
            <div class="p-5 flex-column">
                <div class="mb-5 d-inline-flex"> 
                    <h1 
                    th:text="*{title}" class="mr-2"></h1>
                    <span th:if="*{year} == 2020" class="font-weight-bold text-danger"th:text="#{lang.new}"></span>
                </div>
               
                <h4 class="mb-3"
                    th:text="*{year}"></h4>
                <div class="mb-5 align-self-end"
                    th:text="*{synopsis}"></div>
                <a class="btn btn-primary" th:href="@{/movies/} +*{id}" th:text="#{lang.detail}" ></a>
            </div>
        </li>
       
    </div>
    <div class= "m-5 border text-center" th:unless="${#lists.size(movies)}">
        <h1 class="m-5"th:text="#{lang.error}" ></h1>
    </div>
</div>
    </div>
</body>
</html>