<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{fragments/head.html :: head}"></div>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:object="${movie}" th:text="${movie.title + '  | Movies Web'}">Detail</title>
</head>
<body>
    <div class="mx-5 mt-2">
        <div th:replace="~{fragments/changelang.html :: body}"></div>
    </div>
    <div class="d-flex justify-content-md-center" th:object="${movie}">
        <div class="pl-5  align-self-center"><img th:src="*{poster}" th:alt="|poster *{title}|"></div>
        <div class="p-5 flex-column  ">
            <div class="mb-5 d-inline-flex"> 
                <h1 
                th:text="*{title}" class="mr-2"></h1>
                <span th:if="*{year} == 2020" class="font-weight-bold text-danger"th:text="#{lang.new}"></span>
            </div>
            <div>
                <div class="font-weight-bold"
                    th:text="#{lang.releasedate}">
                </div>
                <p th:text="*{fulldate}"></p>
            </div>
            
            <div>
                <div class="font-weight-bold"
                    th:text="#{lang.synopsis}">
                </div>
                <p th:text="*{synopsis}"></p>
            </div>

            <div>
                <div class="font-weight-bold"
                    th:text="#{lang.director}">
                </div>
                <p th:text="*{director}"></p>
            </div>

            <div>
                <div class="font-weight-bold"
                    th:text="#{lang.country}">
                </div>
                <p th:text="*{country}"></p>
            </div>

            <div>
                <div class="font-weight-bold"
                    th:text="#{lang.producer}">
                </div>
                <p th:text="*{producer}"></p>
            </div>
         
            <a class="btn btn-primary" th:href="@{/movies}" th:text="#{lang.back}" >hola</a>
        </div>
    </div>
</body>
</html>